
*.iml
.idea/
.DS_Store
/target/
/Output/
/oldStuff/
Logging.txt
Logging1.txt
Algorithm.py
/venv/
Input/NoTypeChanges.txt
lib/
ResolvedResponsesOld/
Input/input.txt

src/main/python/scripts/__pycache__/

__pycache__/

Deploy.py

Input/TypeChangeCommits.json
ResolvedResponses/
Input/inputFP.txt

Input/inputRemote.txt

Input/analyzedOp.json

*.zip
